<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 配置js,css等静态文件直接映射到对应的文件夹，不被DispatcherServlet处理 若将以下改为：<mvc:default-servlet-handler
    />则使用默认的Servlet来响应静态文件 -->
    <!--<mvc:resources mapping="/static/**" location="/static/" />-->
    <context:component-scan base-package="com.techfun.springsample" />
    <mvc:annotation-driven />


</beans>
